In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data = pd.read_csv("pokemon.csv")
data.head(2)

,nombre,indice_guia,resistencia,ataque,defensa,tipo_primario,tipo_secundario,max_salud,tasa_captura,tasa_escape,Weight,Height,Legendario,generacion,fuerza_combate
0,Bulbasaur,1,128.0,118.0,111.0,Grass,Poison,113.0,0.2,0.10,6.9,0.7,No,1,1115
1,Ivysaur,2,155.0,151.0,143.0,Grass,Poison,134.0,0.1,0.07,13.0,1.0,No,1,1699

In [ ]:
data.columns

Index(['nombre', 'indice_guia', 'resistencia', 'ataque', 'defensa',
       'tipo_primario', 'tipo_secundario', 'max_salud', 'tasa_captura',
       'tasa_escape', 'Weight', 'Height', 'Legendario', 'generacion',
       'fuerza_combate'],
      dtype='object')

In [ ]:
data.shape

(649, 15)

In [ ]:
nombres_nuevos = {"Weight":"peso","Height":"altura"}
data.drop(columns=["indice_guia"],inplace=True)
data.rename(columns=nombres_nuevos,inplace=True)
data.head(2)

,nombre,resistencia,ataque,defensa,tipo_primario,tipo_secundario,max_salud,tasa_captura,tasa_escape,peso,altura,Legendario,generacion,fuerza_combate
0,Bulbasaur,128.0,118.0,111.0,Grass,Poison,113.0,0.2,0.10,6.9,0.7,No,1,1115
1,Ivysaur,155.0,151.0,143.0,Grass,Poison,134.0,0.1,0.07,13.0,1.0,No,1,1699

In [ ]:
data.describe()

,resistencia,ataque,defensa,max_salud,tasa_captura,tasa_escape,peso,altura,generacion,fuerza_combate
count,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,649.000000,645.000000,649.000000,649.000000
mean,168.700311,161.083851,140.324534,144.714286,0.243137,0.083789,57.493374,1.150589,3.052388,1918.006163
std,45.648859,56.703088,49.092150,36.012643,0.173944,0.055595,90.558634,1.039428,1.494960,901.856030
min,1.000000,17.000000,32.000000,12.000000,0.000000,0.000000,0.100000,0.100000,1.000000,274.000000
25%,137.000000,118.000000,99.000000,120.000000,0.100000,0.060000,10.100000,0.600000,2.000000,1144.000000
50%,163.000000,159.000000,136.500000,140.000000,0.200000,0.070000,29.000000,1.000000,3.000000,1859.000000
75%,190.000000,204.250000,174.000000,162.000000,0.300000,0.100000,61.000000,1.400000,4.000000,2564.000000
max,496.000000,345.000000,396.000000,403.000000,1.000000,0.990000,950.000000,14.500000,5.000000,4431.000000

In [ ]:
data.dtypes

nombre              object
resistencia        float64
ataque             float64
defensa            float64
tipo_primario       object
tipo_secundario     object
max_salud          float64
tasa_captura       float64
tasa_escape        float64
peso               float64
altura             float64
Legendario          object
generacion           int64
fuerza_combate       int64
dtype: object

In [ ]:
data.isna().sum()

nombre             0
resistencia        5
ataque             5
defensa            5
tipo_primario      5
tipo_secundario    5
max_salud          5
tasa_captura       5
tasa_escape        5
peso               0
altura             4
Legendario         1
generacion         0
fuerza_combate     0
dtype: int64

In [ ]:
data[data["ataque"].isna()]

,nombre,resistencia,ataque,defensa,tipo_primario,tipo_secundario,max_salud,tasa_captura,tasa_escape,peso,altura,Legendario,generacion,fuerza_combate
175,Togetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.2,0.61,No,2,1708
248,Lugia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,216.0,5.21,Sí,2,3703
345,Cradily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.4,1.50,No,3,2211
568,Garbodor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.3,1.90,No,5,2345
580,Swanna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.2,1.30,No,5,2088

In [ ]:
data.to_csv("Dataset Pokemon modificado.csv")

In [ ]:
data_pokemon_modificado=pd.read_csv("Dataset Pokemon modificado.csv")
data_pokemon_modificado.head()

,Unnamed: 0,nombre,resistencia,ataque,defensa,tipo_primario,tipo_secundario,max_salud,tasa_captura,tasa_escape,peso,altura,Legendario,generacion,fuerza_combate
0,0,Bulbasaur,128.0,118.0,111.0,Grass,Poison,113.0,0.20,0.10,6.9,0.7,No,1,1115
1,1,Ivysaur,155.0,151.0,143.0,Grass,Poison,134.0,0.10,0.07,13.0,1.0,No,1,1699
2,2,Venusaur,190.0,198.0,189.0,Grass,Poison,162.0,0.05,0.05,100.0,2.0,No,1,2720
3,3,Charmander,118.0,116.0,93.0,Fire,None,105.0,0.20,0.10,8.5,0.6,No,1,980
4,4,Charmeleon,151.0,158.0,126.0,Fire,None,131.0,0.10,0.07,19.0,1.1,No,1,1653

In [ ]:
data_pokemon_modificado.drop(columns=['Unnamed: 0'],inplace=True)

In [ ]:
data_pokemon_modificado.head()

,nombre,resistencia,ataque,defensa,tipo_primario,tipo_secundario,max_salud,tasa_captura,tasa_escape,peso,altura,Legendario,generacion,fuerza_combate
0,Bulbasaur,128.0,118.0,111.0,Grass,Poison,113.0,0.20,0.10,6.9,0.7,No,1,1115
1,Ivysaur,155.0,151.0,143.0,Grass,Poison,134.0,0.10,0.07,13.0,1.0,No,1,1699
2,Venusaur,190.0,198.0,189.0,Grass,Poison,162.0,0.05,0.05,100.0,2.0,No,1,2720
3,Charmander,118.0,116.0,93.0,Fire,None,105.0,0.20,0.10,8.5,0.6,No,1,980
4,Charmeleon,151.0,158.0,126.0,Fire,None,131.0,0.10,0.07,19.0,1.1,No,1,1653