# Clase 2

Hoy vamos a seguir con los tipos de datos que vimos la clase pasada y vamos a ver algunas estructuras mas complejas.

In [ ]:
"hola"

'hola'

In [ ]:
3.5

3.5

In [ ]:
type("Hola")

str

In [ ]:
type(3)

int

In [ ]:
type(3.0)

float

In [ ]:
mivariable = 3

In [ ]:
mivariable == 3

True

In [ ]:
3 == 3.0

True

In [ ]:
type (3 == 3)

bool

In [ ]:
3 is 3.0

False

In [ ]:
"hola"[3]

'a'

In [ ]:
nombres= ["Alexis", "María", "Sebastian", 3]
type(nombres)

list

In [ ]:
nombres[2]

'Sebastian'

In [ ]:
nombres.clear()

In [ ]:
nombres

[]

In [ ]:
nombres= ["Alexis", "María", "Sebastian", 3]
cosa_que_saque = nombres.pop()
print (nombres)
nombres[0] = "Ioni"
print (nombres)

['Alexis', 'María', 'Sebastian']
['Ioni', 'María', 'Sebastian']

In [ ]:
nombres_inmutables = ("Alexis", "Maria", "Sebastian", 3)
nombres_inmutables[0] = "Ioni"

TypeError: ignored

In [ ]:
persona = {"Nombre" : "Alexis", 
           "Edad": 18, 
           "Cursos": ["Ciencia de datos","Diseño web 1"]}
for value in persona.values():
  if type(value) == list:
    for x in value:
      print (x)
  else:
    print (value)

Alexis
18
Ciencia de datos
Diseño web 1

In [ ]:
persona = {"Nombre" : "Alexis", 
           "Edad": 18, 
           "Cursos": ["Ciencia de datos","Diseño web 1"]}
for value in persona.values():
  print (value)

Alexis
18
['Ciencia de datos', 'Diseño web 1']

In [ ]:
persona["Fecha de nacimiento"] = "9 de junio 2003"

In [ ]:
persona

{'Cursos': ['Ciencia de datos', 'Diseño web 1'],
 'Edad': 18,
 'Fecha de nacimiento': '9 de junio 2003',
 'Nombre': 'Alexis'}

# Tarea

Hacer en una notebook nueva los siguientes ejercicios:

1. Crea dos variables con valores enteros y luego imprime los resultados de su suma, resta, multiplicación y división.

2. Crea dos listas con 3 nombres cada una llamadas *grupo1* y *grupo2*.

3. Crea una tercera lista llamada *grupo3* con los últimos nombres de cada una de las listas *grupo1* y *grupo2* y elimina esos nombres de las listas originales.

4. Crea una lista llamada *todos* con todos los nombres de las listas. 

5. Crea un diccionario que tenga 3 pares de clave valor con países y capitales.

6. Hace un print de los nombres de lo países.

7. Mostrá los nombres de las capitales

8. Agrega una par de país-capital

# Optativos

1. Armar una lista con 6 ciudades

2. Seleccionar la segunda ciudad

3. Eliminar la última ciudad

4. Reemplazar la primer ciudad con otra

5. Agregar una ciudad al final

6. Armar un diccionario que tenga 3 duplas de Provincia y Ciudad (ej: "Provincia de Buenos Aires: La Plata"

7. Eliminar el último registro (dupla Ciudad-Provincia)

8. Ver todas las claves (*keys*)